NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_WHATSAPP_NUMBER=15556535563
NEXT_PUBLIC_WHATSAPP_URL=https://wa.me/15556535563?text=Bonjour%20Komero%2C%20je%20veux%20creer%20ma%20boutique
